

<div role="form" class="wpcf7" id="wpcf7-f198-o1" lang="en-US" dir="ltr">
    <div id="contactFormResponse" style="display:none">Your message has been successfully sent. We will get in touch shortly!!</div>

    <form id="contactForm" novalidate="novalidate" onsubmit="writeNewQuery">
        <div style="display: none;">
            <input type="hidden" name="_wpcf7" value="198">
            <input type="hidden" name="_wpcf7_version" value="5.0.1">
            <input type="hidden" name="_wpcf7_locale" value="en_US">
            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f198-o1">
            <input type="hidden" name="_wpcf7_container_post" value="0">
        </div>
        <div class="section group">
            <div class="col span_6_of_12">
                <span class="wpcf7-form-control-wrap enquiries-name"><input type="text" name="enquiries-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" id="Name" aria-required="true" aria-invalid="false" placeholder="Name"></span>
            </div>
            <div class="col span_6_of_12">
                <span class="wpcf7-form-control-wrap enquiries-phone"><input type="text" name="enquiries-phone" value="" size="40" class="wpcf7-form-control wpcf7-text" id="ContactNumber" aria-invalid="false" placeholder="Contact number"></span>
            </div>
        </div>
        <div class="section group">
            <div class="section group">
                <div class="col span_12_of_12">
                    <span class="wpcf7-form-control-wrap enquiries-message"><textarea name="enquiries-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" id="ContactHelp" aria-required="true" aria-invalid="false" placeholder="How can we help?"></textarea></span>
                </div>
            </div>

            <div class="section-button">
                <input id="requestCallbackButton" onclick="writeNewQuery" type="submit" value="Request Callback" class="wpcf7-form-control"><span class="ajax-loader"></span>
            </div>
        </div></form>
</div>

