<footer id="colophon" class="site-footer">
    <div class="section group">
        <div class="col span_6_of_12">
            <ul class="inline-menu">
                <li>© 2018 DigiProtecto</li>
            </ul>
        </div>
        <div class="col span_6_of_12">
            <ul class="inline-menu text-right">
                <li><a  href="/products/overview" title="">Background</a></li>
                <li><a  href="/products/connect" title="">Enquiries</a></li>
            </ul>
        </div>
    </div>
</footer>
