<%- include('site-navigation'); -%>
<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>

<header id="header" class="site-header">
    <div class="section group">

        <div class="site-branding col span_2_of_12">
            <div class="site-logo">
                <a href="/" title=""><?xml version="1.0" encoding="UTF-8" standalone="no"?>
                    <style>

                        @media all and (max-width: 350px) {
                            path#path22, path#path24, path#path26, path#path28  {
                                display: none;
                            }
                        }

                    </style>

                    <svg width="334px" height="55px" viewBox="0 0 334 55" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <polygon id="path-1" points="0 0 343.599991 0 343.599991 54.3363986 0 54.3363986"></polygon>
                        </defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Artboard" transform="translate(-1122.000000, -1877.000000)">
                                <g id="logo" transform="translate(1122.000000, 1876.000000)">
                                    <g id="g10" transform="translate(172.000000, 27.833333) scale(-1, 1) rotate(-180.000000) translate(-172.000000, -27.833333) translate(0.000000, 0.333333)">
                                        <g id="g12">
                                            <g id="g14">
                                                <g id="g16-Clipped">
                                                    <mask id="mask-2" fill="white">
                                                        <use xlink:href="#path-1"></use>
                                                    </mask>
                                                    <g id="path18"></g>
                                                    <g id="g16" mask="url(#mask-2)" fill="#00C850" fill-rule="nonzero">
                                                        <path d="M10.6046931,16.3530663 C10.6046931,13.355733 8.22917313,10.9270797 5.30207987,10.9270797 C2.37291994,10.9270797 0,13.355733 0,16.3530663 C0,19.3499995 2.37291994,21.7786661 5.30207987,21.7786661 C8.22917313,21.7786661 10.6046931,19.3499995 10.6046931,16.3530663" id="path30"></path>
                                                        <path d="M21.2093328,5.50051986 C21.2093328,2.50311994 18.8363995,0.0749999981 15.9073329,0.0749999981 C12.9781197,0.0749999981 10.6052131,2.50311994 10.6052131,5.50051986 C10.6052131,8.49739979 12.9781197,10.9260397 15.9073329,10.9260397 C18.8363995,10.9260397 21.2093328,8.49739979 21.2093328,5.50051986" id="path32"></path>
                                                        <path d="M21.2093328,27.2051993 C21.2093328,24.2082661 18.8363995,21.7797328 15.9073329,21.7797328 C12.9781197,21.7797328 10.6052131,24.2082661 10.6052131,27.2051993 C10.6052131,30.2021326 12.9781197,32.6306659 15.9073329,32.6306659 C18.8363995,32.6306659 21.2093328,30.2021326 21.2093328,27.2051993" id="path34"></path>
                                                        <path d="M31.8145325,16.3530663 C31.8145325,13.355733 29.4395993,10.9270797 26.5125327,10.9270797 C23.5827994,10.9270797 21.2098661,13.355733 21.2098661,16.3530663 C21.2098661,19.3499995 23.5827994,21.7786661 26.5125327,21.7786661 C29.4395993,21.7786661 31.8145325,19.3499995 31.8145325,16.3530663" id="path36"></path>
                                                        <path d="M31.8145325,38.0573324 C31.8145325,35.0603991 29.4395993,32.6317325 26.5125327,32.6317325 C23.5827994,32.6317325 21.2098661,35.0603991 21.2098661,38.0573324 C21.2098661,41.0546656 23.5827994,43.4827989 26.5125327,43.4827989 C29.4395993,43.4827989 31.8145325,41.0546656 31.8145325,38.0573324" id="path38"></path>
                                                        <path d="M42.4197323,27.2051993 C42.4197323,24.2082661 40.044799,21.7797328 37.1177324,21.7797328 C34.1885325,21.7797328 31.8150659,24.2082661 31.8150659,27.2051993 C31.8150659,30.2021326 34.1885325,32.6306659 37.1177324,32.6306659 C40.044799,32.6306659 42.4197323,30.2021326 42.4197323,27.2051993" id="path40"></path>
                                                        <path d="M42.4197323,48.9098654 C42.4197323,45.9125322 40.044799,43.4838656 37.1177324,43.4838656 C34.1885325,43.4838656 31.8150659,45.9125322 31.8150659,48.9098654 C31.8150659,51.9067987 34.1885325,54.3354653 37.1177324,54.3354653 C40.044799,54.3354653 42.4197323,51.9067987 42.4197323,48.9098654" id="path42"></path>
                                                        <path d="M53.0250653,38.0573324 C53.0250653,35.0603991 50.6499987,32.6317325 47.7229321,32.6317325 C44.7937322,32.6317325 42.4207989,35.0603991 42.4207989,38.0573324 C42.4207989,41.0546656 44.7937322,43.4827989 47.7229321,43.4827989 C50.6499987,43.4827989 53.0250653,41.0546656 53.0250653,38.0573324" id="path44"></path>
                                                        <path d="M53.0250653,16.3530663 C53.0250653,13.355733 50.6499987,10.9270797 47.7229321,10.9270797 C44.7937322,10.9270797 42.4207989,13.355733 42.4207989,16.3530663 C42.4207989,19.3499995 44.7937322,21.7786661 47.7229321,21.7786661 C50.6499987,21.7786661 53.0250653,19.3499995 53.0250653,16.3530663" id="path46"></path>
                                                        <path d="M63.6306651,27.2051993 C63.6306651,24.2082661 61.2551985,21.7797328 58.3281319,21.7797328 C55.3989319,21.7797328 53.0259987,24.2082661 53.0259987,27.2051993 C53.0259987,30.2021326 55.3989319,32.6306659 58.3281319,32.6306659 C61.2551985,32.6306659 63.6306651,30.2021326 63.6306651,27.2051993" id="path48"></path>
                                                        <path d="M63.6306651,5.50051986 C63.6306651,2.50311994 61.2551985,0.0749999981 58.3281319,0.0749999981 C55.3989319,0.0749999981 53.0259987,2.50311994 53.0259987,5.50051986 C53.0259987,8.49739979 55.3989319,10.9260397 58.3281319,10.9260397 C61.2551985,10.9260397 63.6306651,8.49739979 63.6306651,5.50051986" id="path50"></path>
                                                        <path d="M74.2359981,16.3530663 C74.2359981,13.355733 71.8603982,10.9270797 68.9333316,10.9270797 C66.0041317,10.9270797 63.6311984,13.355733 63.6311984,16.3530663 C63.6311984,19.3499995 66.0041317,21.7786661 68.9333316,21.7786661 C71.8603982,21.7786661 74.2359981,19.3499995 74.2359981,16.3530663" id="path52"></path>
                                                        <path d="M74.2359981,38.0573324 C74.2359981,35.0603991 71.8603982,32.6317325 68.9333316,32.6317325 C66.0041317,32.6317325 63.6311984,35.0603991 63.6311984,38.0573324 C63.6311984,41.0546656 66.0041317,43.4827989 68.9333316,43.4827989 C71.8603982,43.4827989 74.2359981,41.0546656 74.2359981,38.0573324" id="path54"></path>
                                                        <path d="M84.8406645,48.9098654 C84.8406645,45.9125322 82.4655979,43.4838656 79.5385313,43.4838656 C76.6093314,43.4838656 74.2363981,45.9125322 74.2363981,48.9098654 C74.2363981,51.9067987 76.6093314,54.3354653 79.5385313,54.3354653 C82.4655979,54.3354653 84.8406645,51.9067987 84.8406645,48.9098654" id="path56"></path>
                                                        <path d="M84.8406645,27.2051993 C84.8406645,24.2082661 82.4655979,21.7797328 79.5385313,21.7797328 C76.6093314,21.7797328 74.2363981,24.2082661 74.2363981,27.2051993 C74.2363981,30.2021326 76.6093314,32.6306659 79.5385313,32.6306659 C82.4655979,32.6306659 84.8406645,30.2021326 84.8406645,27.2051993" id="path58"></path>
                                                        <path d="M95.4458643,38.0573324 C95.4458643,35.0603991 93.0702643,32.6317325 90.1437311,32.6317325 C87.2139978,32.6317325 84.8411979,35.0603991 84.8411979,38.0573324 C84.8411979,41.0546656 87.2139978,43.4827989 90.1437311,43.4827989 C93.0702643,43.4827989 95.4458643,41.0546656 95.4458643,38.0573324" id="path60"></path>
                                                        <path d="M95.4458643,16.3530663 C95.4458643,13.355733 93.0702643,10.9270797 90.1437311,10.9270797 C87.2139978,10.9270797 84.8411979,13.355733 84.8411979,16.3530663 C84.8411979,19.3499995 87.2139978,21.7786661 90.1437311,21.7786661 C93.0702643,21.7786661 95.4458643,19.3499995 95.4458643,16.3530663" id="path62"></path>
                                                        <path d="M106.051064,27.2051993 C106.051064,24.2082661 103.675464,21.7797328 100.748931,21.7797328 C97.8197309,21.7797328 95.4469309,24.2082661 95.4469309,27.2051993 C95.4469309,30.2021326 97.8197309,32.6306659 100.748931,32.6306659 C103.675464,32.6306659 106.051064,30.2021326 106.051064,27.2051993" id="path64"></path>
                                                        <path d="M106.051064,5.50051986 C106.051064,2.50311994 103.675464,0.0749999981 100.748931,0.0749999981 C97.8197309,0.0749999981 95.4469309,2.50311994 95.4469309,5.50051986 C95.4469309,8.49739979 97.8197309,10.9260397 100.748931,10.9260397 C103.675464,10.9260397 106.051064,8.49739979 106.051064,5.50051986" id="path66"></path>
                                                        <path d="M116.656264,16.3530663 C116.656264,13.355733 114.281197,10.9270797 111.354131,10.9270797 C108.425064,10.9270797 106.052131,13.355733 106.052131,16.3530663 C106.052131,19.3499995 108.425064,21.7786661 111.354131,21.7786661 C114.281197,21.7786661 116.656264,19.3499995 116.656264,16.3530663" id="path68"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                    <text id="DigiProtecto" font-family="KohinoorDevanagari-Bold, Kohinoor Devanagari" font-size="34" font-weight="bold" fill="#00C850">
                                        <tspan x="134" y="37">DigiProtecto</tspan>
                                    </text>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
            <div id="breadcrumbNav" class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                <big>
                </big>
            </div>
        </div>


        <nav class="header-nav col span_10_of_12 text-right">
            <ul>
                <li class="menu-button"><a class="btn-primary" id="menuBtn" href="#" title=""><span class="box-shadow-menu"></span></a></li>
            </ul>
        </nav>

    </div>
</header>
