

<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>DigiProtecto - Protect, Discover &amp; Connect</title>

    <!-- SEO Ultimate (http://www.seodesignsolutions.com/wordpress-seo/) -->
    <meta name="description" content="DigiProtecto is a global technology company providing anti-piracy, market analytics and audience connection solutions that disrupt the piracy market for digital content." />
    <meta name="keywords" content="online content protection,rights holder content protection,online piracy analytics,managed content protection,enterprise content protection,music industry anti-piracy,record label anti-piracy,publishing anti-piracy,film anti-piracy,movie anti-piracy,software anti-piracy" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="DigiProtecto - Protect, Discover &amp; Connect" />
    <meta property="og:description" content="DigiProtecto is a global technology company providing anti-piracy, market analytics and audience connection solutions that disrupt the piracy market for digital content. " />
    <meta property="og:url" content="https://www.muso.com/" />
    <meta property="article:published_time" content="2017-07-17" />
    <meta property="article:modified_time" content="2018-08-13" />
    <meta property="og:site_name" content="DigiProtecto – DISCOVER, PROTECT, CONNECT" />
    <meta name="twitter:card" content="summary" />
    <!-- /SEO Ultimate -->

    <link rel='dns-prefetch' href='//maxcdn.bootstrapcdn.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="DigiProtecto – DISCOVER, PROTECT, CONNECT &raquo; Feed" href="https://www.muso.com/feed/" />
    <link rel="alternate" type="application/rss+xml" title="DigiProtecto – DISCOVER, PROTECT, CONNECT &raquo; Comments Feed" href="https://www.muso.com/comments/feed/" />
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/www.muso.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.8"}};
        !function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='qtip2-css'  href='https://www.muso.com/wp-content/plugins/magic-tooltips-for-contact-form-7/assets/css/jquery.qtip.min.css?ver=4.9.8' type='text/css' media='all' />
    <link rel='stylesheet' id='mtfcf7-css'  href='https://www.muso.com/wp-content/plugins/magic-tooltips-for-contact-form-7/assets/css/custom.css?ver=4.9.8' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css'  href='https://www.muso.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mbpro-font-awesome-css'  href='https://www.muso.com/wp-content/plugins/maxbuttons/assets/libraries/font-awesome/css/font-awesome.min.css?ver=4.9.8' type='text/css' media='all' />
    <link rel='stylesheet' id='cookie-consent-style-css'  href='https://www.muso.com/wp-content/plugins/uk-cookie-consent/assets/css/style.css?ver=4.9.8' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-pagenavi-css'  href='https://www.muso.com/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css'  href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css?ver=4.9.8' type='text/css' media='all' />
    <link rel='stylesheet' id='studionovel_muso_v1-style-css'  href='https://www.muso.com/wp-content/themes/studionovel_muso_v1/assets/css/style.css?ver=1.2.3' type='text/css' media='all' />
    <script type='text/javascript' src='https://www.muso.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='https://www.muso.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='https://www.muso.com/wp-content/plugins/magic-tooltips-for-contact-form-7/assets/js/jquery.qtip.js?ver=4.9.8'></script>
    <script type='text/javascript' src='https://www.muso.com/wp-content/plugins/magic-tooltips-for-contact-form-7/assets/js/imagesloaded.pkgd.min.js?ver=4.9.8'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var mtfcf7 = {"css_code":".mm-tooltip-cf7-container { color: #FFFFFF; border-radius: 5px; font-size: 14px; background-color: #333333; -webkit-border-radius: 5px; -moz-border-radius: 5px; margin-left: 0px; margin-top: 0px; border-color: #333333; border-width: 1; line-height: 150%;}.mm-tooltip-cf7-content { line-height: 150%; padding: 2.4000000000000004px 6px 2.4000000000000004px 6px;}","css_options":"{\"fontColor\":\"#FFFFFF\",\"fontSize\":\"14\",\"backgroundColor\":\"#333333\",\"borderRadius\":5,\"offsetLeft\":\"0\",\"padding\":0.2,\"offsetTop\":\"0\",\"borderColor\":\"#333333\",\"borderWidth\":1,\"lineHeight\":\"150%\"}","js_code":"{\"position\":{\"my\":\"left center\",\"at\":\"right center\",\"adjust\":{\"method\":\"none\"}},\"style\":{\"classes\":\"mm-tooltip-cf7-container\"},\"content\":{\"text\":{\"0\":{},\"length\":1,\"prevObject\":{\"0\":{\"jQuery172021905201394110918\":4},\"context\":{\"jQuery172021905201394110918\":4},\"length\":1},\"context\":{\"jQuery172021905201394110918\":4},\"selector\":\".next(div)\"}},\"show\":true}"};
        var mtfcf7_settings = {"dummy":"1","active_form":"1348","focus_input":"1","custom_css":""};
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://www.muso.com/wp-content/plugins/magic-tooltips-for-contact-form-7/assets/js/custom.js?ver=1.61'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var mb_ajax = {"ajaxurl":"https:\/\/www.muso.com\/wp-admin\/admin-ajax.php"};
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://www.muso.com/wp-content/plugins/maxbuttons/js/min/front.js?ver=1'></script>
    <script type='text/javascript' src='https://www.muso.com/wp-content/plugins/duracelltomi-google-tag-manager/js/gtm4wp-contact-form-7-tracker.js?ver=1.7.1'></script>
    <script type='text/javascript' src='https://www.muso.com/wp-content/plugins/duracelltomi-google-tag-manager/js/gtm4wp-form-move-tracker.js?ver=1.7.1'></script>
    <link rel='https://api.w.org/' href='https://www.muso.com/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.muso.com/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.muso.com/wp-includes/wlwmanifest.xml" />
    <link rel="canonical" href="https://www.muso.com/" />
    <link rel='shortlink' href='https://www.muso.com/' />
    <link rel="alternate" type="application/json+oembed" href="https://www.muso.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.muso.com%2F" />
    <link rel="alternate" type="text/xml+oembed" href="https://www.muso.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.muso.com%2F&#038;format=xml" />
    <style id="ctcc-css" type="text/css" media="screen">
        #catapult-cookie-bar {
            box-sizing: border-box;
            max-height: 0;
            opacity: 0;
            z-index: 99999;
            overflow: hidden;
            color: #ddd;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #464646;
        }
        #catapult-cookie-bar a {
            color: #fff;
        }
        #catapult-cookie-bar .x_close span {
            background-color: ;
        }
        button#catapultCookie {
            background:;
            color: ;

        }
        #catapult-cookie-bar h3 {
            color: #ddd;
        }
        .has-cookie-bar #catapult-cookie-bar {
            opacity: 1;
            max-height: 999px;
            min-height: 30px;
        }</style>
<link rel="icon" href="https://www.muso.com/wp-content/uploads/2017/07/cropped-muso-favicon-32x32.jpg" sizes="32x32" />
    <link rel="icon" href="https://www.muso.com/wp-content/uploads/2017/07/cropped-muso-favicon-192x192.jpg" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="https://www.muso.com/wp-content/uploads/2017/07/cropped-muso-favicon-180x180.jpg" />
    <meta name="msapplication-TileImage" content="https://www.muso.com/wp-content/uploads/2017/07/cropped-muso-favicon-270x270.jpg" />

</head>

<body class="home page-template page-template-page-home page-template-page-home-php page page-id-71 ctcc-exclude-AS">

<div id="page" class="site">


    <%- include('header'); -%>


    <div id="content" class="site-content">

        <div id="primary" class="content-area home-area">

            <section id="home-page-intro">
                <h2><strong>Enterprise solutions for piracy</strong></h2>
                <h2>‌Automated content protection and unrivalled data to inform your strategy</h2>
                <div class="cta-button"><a href="/contact-us/enquiries/">Request a demo</a></div>
            </section>

            <div id="home-page-background-image">
                <?xml version="1.0" encoding="UTF-8"?> <svg width="1440px" height="272px" viewBox="0 0 1440 272" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">     <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->     <title>@1440</title>     <desc>Created with Sketch.</desc>     <defs>         <linearGradient x1="39.5609438%" y1="58.3823182%" x2="99.6715793%" y2="75.3888735%" id="linearGradient-1">             <stop stop-color="#56BC5B" offset="0%"></stop>             <stop stop-color="#013044" stop-opacity="0.851675725" offset="62.7271188%"></stop>             <stop stop-color="#013044" stop-opacity="0.210003397" offset="100%"></stop>         </linearGradient>     </defs>     <g id="@1440" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">         <g id="Group-2" transform="translate(-8.000000, 11.000000)">             <ellipse id="Oval-5-Copy-8" fill="#17544A" opacity="0.284877232" cx="275" cy="230.5" rx="5" ry="4.5"></ellipse>             <path d="M3,26 C3,26 12.6677289,45.2422042 42.7033717,58.9617883 C67.6017031,70.3347679 97.6454183,68.6369338 108.875012,84.1280559 C152.860841,144.806107 221.254718,113.381869 248.278986,114.236557 C275.303255,115.091246 287.959061,137.727455 307.038346,149.288846 C326.11763,160.850236 335.656549,160.948148 349.965652,161.242536 C364.274756,161.53695 378.583855,152.78986 392.892959,151.055288 C407.202062,149.320743 421.511162,153.475969 435.820265,150.835174 C450.129369,148.194349 464.438468,135.063551 478.747572,135.210397 C493.056675,135.357273 507.365775,147.842974 521.674878,151.716277 C535.983982,155.58958 550.293081,154.861176 564.602185,158.450212 C578.911288,162.039274 593.220388,167.727948 607.529491,173.250541 C621.838595,178.773133 636.147694,189.482639 650.456798,191.585791 C664.765901,193.688917 679.075,185.37238 693.384104,185.8694 C707.693208,186.366451 722.002307,194.001342 736.311411,194.568009 C750.620514,195.134676 764.929613,188.591554 779.238717,189.269409 C793.547821,189.94729 856.429117,210.660383 888.524486,211.845256 C927.451486,213.282335 972.700927,204.368268 993.875249,199.259688 C1032.50783,189.939076 1054.92071,173.926184 1099.95995,175.381813 C1144.9992,176.837441 1162.54018,193.573222 1208.51178,200.712865 C1254.921,207.920474 1274.23822,155.129893 1337.7279,122.992619 C1373.82654,104.720171 1427.79558,106.008955 1445,84.2182232" id="svg_2" stroke="url(#linearGradient-1)" stroke-width="2" transform="translate(724.000000, 119.000000) scale(-1, 1) rotate(-2.000000) translate(-724.000000, -119.000000) "></path>             <ellipse id="Oval-5-Copy-14" fill="#3D9355" opacity="0.533872768" cx="324" cy="84.5" rx="5" ry="4.5"></ellipse>             <circle id="Oval-5-Copy-11" fill="#20634C" opacity="0.199330357" cx="106" cy="230" r="4"></circle>             <circle id="Oval-5-Copy-12" fill="#014746" opacity="0.143638393" cx="140.5" cy="67.5" r="4.5"></circle>             <ellipse id="Oval-5-Copy-12" fill="#014746" opacity="0.136997768" cx="49" cy="10.5" rx="4" ry="3.5"></ellipse>             <ellipse id="Oval-5-Copy-10" fill="#23694D" opacity="0.58203125" cx="400" cy="210.5" rx="5" ry="4.5"></ellipse>             <circle id="Oval-5-Copy-18" fill="#114B49" opacity="0.23125" cx="237.5" cy="138.5" r="6.5"></circle>             <circle id="Oval-5-Copy-20" fill="#19584B" opacity="0.504799107" cx="531.5" cy="168.5" r="6.5"></circle>             <circle id="Oval-5-Copy-16" fill="#56BC5B" opacity="0.85" cx="939.5" cy="126.5" r="8.5"></circle>             <circle id="Oval-5-Copy-11" fill="#20634C" opacity="0.0723772321" cx="71" cy="143" r="5"></circle>             <path d="M5.50068729,186.5 L1461.49931,186.5" id="Line-3" stroke="#979797" opacity="0.15" stroke-linecap="square" fill-rule="nonzero"></path>             <path d="M5.50068729,111.5 L1461.49931,111.5" id="Line-3" stroke="#979797" opacity="0.0537946429" stroke-linecap="square" fill-rule="nonzero"></path>             <circle id="Oval-5-Copy-15" fill="#4AA858" opacity="0.65" cx="726.5" cy="218.5" r="7.5"></circle>             <circle id="Oval-5-Copy-17" fill="#56BC5B" cx="1181" cy="136" r="10"></circle>             <circle id="Oval-5-Copy-19" fill="#56BC5B" cx="1447" cy="53" r="10"></circle>         </g>     </g> </svg>		</div>

            <div id="home-page-products-wrapper">
                <section id="home-page-products">

                    <div class="overview-table">

                        <div class="overview-table-cell">
                            <big>Discover</big>
                            <p>Unlock new insights with unrivalled piracy data.</p>
                            <p><strong>Benefits:</strong></p>
                            <ul>
                                <li>Piracy activity for TV, film &#038; music titles</li>
                                <li>Popular piracy sites ranked by visits</li>
                                <li>Accurate streaming statistics</li>
                            </ul>
                            <div class="cta-button"><p><a href="/products/discover/">Find out more</a></p>
                            </div>
                        </div>


                        <div class="overview-table-cell">
                            <big>Protect</big>
                            <p>Defend your valuable digital content online.</p>
                            <p><strong>Benefits:</strong></p>
                            <ul>
                                <li>High speed automated removals</li>
                                <li>Dashboard reporting and tools for collaboration</li>
                                <li>Expert anti-piracy support team</li>
                            </ul>
                            <div class="cta-button"><p><a href="/products/protect/">Find out more</a></p>
                            </div>
                        </div>


                        <div class="overview-table-cell">
                            <big>Connect</big>
                            <p>Explore opportunities with untapped audiences.</p>
                            <p><strong>Benefits:</strong></p>
                            <ul>
                                <li>Engage with relevant online audiences</li>
                                <li>Curated to meet objectives</li>
                                <li>Get a competitive advantage</li>
                            </ul>
                            <div class="cta-button"><p><a href="/products/connect/">Find out more</a></p>
                            </div>
                        </div>

                    </div>

                </section>
            </div>

            <main id="main">

                <section id="home-page-clients">
                    <h2><strong>Our clients</strong></h2>
                    <h2>Entertainment enterprises, data companies and trade bodies</h2>
                    <div class="group">
                        <ul>
                            <li>
                                <img class="icon" src="https://www.muso.com/wp-content/uploads/2018/08/mbc.png" alt="" />
                            </li>
                            <li>
                                <img class="icon" src="https://www.muso.com/wp-content/uploads/2018/08/sonymusic-logo.png" alt="" />
                            </li>
                            <li>
                                <img class="icon" src="https://www.muso.com/wp-content/uploads/2017/12/protect-block-8-logo-5-img.png" alt="" />
                            </li>
                        </ul>																		<ul>
                            <li>
                                <img class="icon" src="https://www.muso.com/wp-content/uploads/2018/08/euipo-logo.png" alt="" />
                            </li>
                            <li>
                                <img class="icon" src="https://www.muso.com/wp-content/uploads/2018/08/e1-logo.png" alt="" />
                            </li>
                            <li>
                                <img class="icon" src="https://www.muso.com/wp-content/uploads/2018/08/sony-interactive.png" alt="" />
                            </li>
                        </ul>									</div>

                </section>

            </main>
        </div>

    </div><!-- #content -->

    <%- include('footer'); -%>

</div><!-- #page -->

<div id="su-footer-links" style="text-align: center;"></div><script type='text/javascript'>
    /* <![CDATA[ */
    var wpcf7 = {"apiSettings":{"root":"https:\/\/www.muso.com\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}},"cached":"1"};
    /* ]]> */
</script>
<script type='text/javascript' src='https://www.muso.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.1'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var ctcc_vars = {"expiry":"30","method":"1","version":"1"};
    /* ]]> */
</script>
<script type='text/javascript' src='https://www.muso.com/wp-content/plugins/uk-cookie-consent/assets/js/uk-cookie-consent-js.js?ver=2.3.0'></script>
<script type='text/javascript' src='https://www.muso.com/wp-content/themes/studionovel_muso_v1/bower_components/history.js/scripts/bundled/html5/jquery.history.js?ver=20151215'></script>
<script type='text/javascript' src='https://www.muso.com/wp-content/themes/studionovel_muso_v1/bower_components/jquery.scrollTo/jquery.scrollTo.min.js?ver=20151215'></script>
<script type='text/javascript' src='https://www.muso.com/wp-content/themes/studionovel_muso_v1/assets/js/scripts.js?ver=20180810'></script>
<script type='text/javascript' src='https://www.muso.com/wp-includes/js/wp-embed.min.js?ver=4.9.8'></script>

<script type="text/javascript">
    jQuery(document).ready(function($){
        if(!catapultReadCookie("catAccCookies")){ // If the cookie has not been set then show the bar
            $("html").addClass("has-cookie-bar");
            $("html").addClass("cookie-bar-bottom-bar");
            $("html").addClass("cookie-bar-bar");
        }
        ctccFirstPage();
    });
</script>

<div id="catapult-cookie-bar" class=" use_x_close float-accept"><div class="ctcc-inner "><span class="ctcc-left-side">This site uses cookies,  <a class="ctcc-more-info-link" tabindex=0 target="_blank" href="https://www.muso.com/policies/cookie-policy/">find out more about our cookie policy.</a></span><span class="ctcc-right-side"></span><div class="x_close"><span></span><span></span></div></div><!-- custom wrapper class --></div><!-- #catapult-cookie-bar -->

</body>
</html>
