<nav id="navCompact" class="nav-compact flex-box">
    <ul>
        <li>
            <a class=" ajax-link" href="/products/overview" title="">Overview</a>
        </li>
        <li>
            <a class=" ajax-link" href="/products/discover" title="">Discover</a>
        </li>
        <li>
            <a class="ajax-link" href="/products/protect" title="">Protect</a>
        </li>
        <li>
            <a class=" ajax-link" href="/products/connect" title="">Connect</a>
        </li>
    </ul>
    <div id="mobileNavPagination"><span>&#8250;</span></div>
</nav>
