<nav id="site-navigation" class="main-navigation flex-box">
    <div class="top-level-nav-wrapper">
        <ul class="top-level-nav">
            <li class="top-level-nav-circle"><a class="circle-link" href="/products/overview/" title="Products">Products</a></li>
            <li class="top-level-nav-circle"><a class="circle-link" href="/contact-us/enquiries/" title="Contact us">Contact us</a></li>
            <li class="top-level-nav-circle"><a class="circle-link" href="/about-us/background/" title="About us">About us</a></li>
        </ul>
    </div>
</nav>
